<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
<div id="secret-message"></div>
<script>
    $(document).ready(function () {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            Swal.fire('Error', 'You are not logged in!', 'error');
            return;
        }
        $.ajax({
            url: '/api/core/secret/',
            type: 'GET',
            headers: {
                'Authorization': 'Bearer ' + accessToken
            },
            success: function (response) {
                $('#secret-message').text(response.message);
            },
            error: function () {
                Swal.fire('Error', 'Failed to retrieve the secret message!', 'error');
            }
        });
    });
</script>
</body>
</html>